@import url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/fonts/ldfcomicsans/stylesheet.css);

// darling font
@font-face {
	font-family: "Darling";
	font-style: normal;
	src: url(https://cdn.jsdelivr.net/gh/aritmatica/cdn@main/fonts/Darling.ttf)
		format("truetype");
}

// fonts
$font-darling: Darling;
$font-regular: ldfcomicsans-medium, arial, sans-serif;
$font-bold: ldfcomicsans-bold, arial, sans-serif;

* {
	margin: 0;
	padding: 0;
	color-scheme: light;

	box-sizing: border-box;

	font-family: $font-regular, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	color: #ff91a4;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 1rem;
}

body {
	background-image: linear-gradient(#fbdade, #ffc2c9);
	height: 100%;
	padding-bottom: 256px;
	//height: 200vh;

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin-bottom: 50vh;

		gap: 8px;

		width: 100%;

		.heart-cat1 {
			height: 50vh;
		}

		.heart-cat2 {
			background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0),  white);
		}

		h1 {
			font-family: $font-bold;
			font-size: max(3vw, 36px);
			text-align: center;
			padding-inline: 8px;
		}

		h2 {
			text-align: center;
		}

		.encrypted {
			color: black;
			word-break: break-all;
			padding-inline: 2vw;
			&[encrypted=false] {
				word-break: normal;
				font-size: larger;
			}
		}

		form {
			display: flex;
			flex-direction: column;
		}
	}
}

#welcome {
	height: 90vh;
}

#falling-flowers {
	position: sticky;
	z-index: -1;

	.flower {
		color: #fff;
		font-size: 1em;
		font-family: Arial, sans-serif;
		text-shadow: 0 0 5px #000;

		position: fixed;
		top: -10%;
		z-index: 9999;
		-webkit-user-select: none;
		user-select: none;
		cursor: default;
		animation-name: snowflakes-shake;
		animation-duration: 3s;
		animation-timing-function: ease-in-out;

		.inner {
			animation-duration: 8s;
			animation-name: snowflakes-fall;
			animation-timing-function: linear;
			width: 48px;
		}

		&:nth-of-type(0) {
			left: 1%;
			animation-delay: 0s;
		}
		&:nth-of-type(0) .inner {
			animation-delay: 0s;
		}
		&:first-of-type {
			left: 10%;
			animation-delay: 1s;
		}
		&:first-of-type .inner,
		&:nth-of-type(8) .inner {
			animation-delay: 1s;
		}
		&:nth-of-type(2) {
			left: 20%;
			animation-delay: 0.5s;
		}
		&:nth-of-type(2) .inner,
		&:nth-of-type(6) .inner {
			animation-delay: 6s;
		}
		&:nth-of-type(3) {
			left: 30%;
			animation-delay: 2s;
		}
		&:nth-of-type(11) .inner,
		&:nth-of-type(3) .inner {
			animation-delay: 4s;
		}
		&:nth-of-type(4) {
			left: 40%;
			animation-delay: 2s;
		}
		&:nth-of-type(10) .inner,
		&:nth-of-type(4) .inner {
			animation-delay: 2s;
		}
		&:nth-of-type(5) {
			left: 50%;
			animation-delay: 3s;
		}
		&:nth-of-type(5) .inner {
			animation-delay: 8s;
		}
		&:nth-of-type(6) {
			left: 60%;
			animation-delay: 2s;
		}
		&:nth-of-type(7) {
			left: 70%;
			animation-delay: 1s;
		}
		&:nth-of-type(7) .inner {
			animation-delay: 2.5s;
		}
		&:nth-of-type(8) {
			left: 80%;
			animation-delay: 0s;
		}
		&:nth-of-type(9) {
			left: 90%;
			animation-delay: 1.5s;
		}
		&:nth-of-type(9) .inner {
			animation-delay: 3s;
		}
		&:nth-of-type(10) {
			left: 25%;
			animation-delay: 0s;
		}
		&:nth-of-type(11) {
			left: 65%;
			animation-delay: 2.5s;
		}
	}

	.flower,
	.flower .inner {
		animation-iteration-count: infinite;
		animation-play-state: running;
	}
}

@keyframes snowflakes-fall {
	0% {
		transform: translateY(0);
		transform: rotate(10deg);
	}
	100% {
		transform: translateY(110vh);
	}
}

@keyframes snowflakes-shake {
	0%,
	100% {
		transform: translateX(0);
		transform: rotate(-1deg);
	}
	50% {
		transform: translateX(80px);
		transform: rotate(1deg);
	}
}
